# NumPy Graded Questions

In [ ]:
Index of 50th element
Consider an (8, 8) shape NumPy array. What is the index (x,y) of the 50th element?

Note: For counting the elements go row-wise. For example, in the array,

[[1, 5, 9],

 [3, 0, 2]]

the 5th element would be '0'.


(6, 1)   ✓ Correct

In [ ]:
Slicing Arrays
Which of the following would extract all the first 3 rows of the last 5 columns in a given numpy 2D array ‘a’?


a[ :3, :5 ]


a[ :3 , 5: ] 


a[ :3 , :-5 ]


a[ :3 , -5: ]    ✓ Correct

In [ ]:
So Many Functions
What will the output of np.arange(1,16,2).reshape(4, 2) be?


[[ 1,  3],
  [ 5,  7],
  [ 9, 11],
  [13, 15]]

✓ Correct

Print "+"
Description
Given a single positive odd integer 'n' greater than 2, create a NumPy array of size (n x n) with all zeros and ones such that the ones make a shape like '+'. The lines of the plus must be present at the middle row and column.



Hint: Start by creating a (n x n) array with all zeroes using the np.zeros() function and then fill in the ones at the appropriate indices. Use integer division (//) to access the middle rows and columns

In [ ]:
n = int(input())

import numpy as np

x = np.zeros((n, n), dtype=int)
t = n // 2
x[t, :] = 1
x[:, t] = 1
print(x)

# Pandas Graded Questions

In [ ]:
Combining data frames
Read the .csv files MegaMart_sales and MegaMart_new sales into two separate dataframes, combine them and store it into a new dataframe. Find the total sales value of the category 'Office Supplies'  after combining the dataframes.
 


7970   ✓ Correct

In [ ]:
Dropping duplicates
There are some duplicate rows in the combined data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

Hint: Use the drop_duplicates() function in Pandas.


7156


6496


6964   ✓ Correct

In [ ]:
Best Category-Sub category
 Find the most profitable category and subcategory combination based on the net profit.

Note: Use duplicates dropped data frame


Furniture-Bookcases


Office supplies-Appliances


Office supplies-Storage


Technology-Phones    ✓ Correct

In [ ]:
Invalid order IDs
How many invalid Order IDs are there in the data frame. Order ID is of the form AZ-2011-Y where Y represents a whole number. An Order ID is said to be valid only if Y consists of 7 digits. Find the number of invalid order IDs in the data frame.

Note: Use duplicates dropped data frame


6


7   ✓ Correct

In [ ]:
Occurence of furniture in top 25 sales
Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

Note: Use duplicates dropped data frame


2


3


4


5    ✓ Correct

In [ ]:
Multiple conditions
Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

Note: Use duplicates dropped data frame


Motorola Headset, with Caller ID    ✓ Correct

In [ ]:
Column manipulation
Remove the orders with negative profit by dropping the corresponding rows with negative Profit or no Profit. Now, among the entries with non-negative profit, find the product that makes the lowest profit per Quantity in the Technology category.

Note: Use duplicates dropped data frame


Nokia Audio Dock, with Caller ID


Logitech Keyboard, Programmable    ✓ Correct

In [2]:
import jovian

In [1]:
jovian.commit()

[jovian] Committed successfully! https://jovian.ai/ashutoshgole18/module-4-python-for-ds-graded-questions

'https://jovian.ai/ashutoshgole18/module-4-python-for-ds-graded-questions'